@import 'modern-normalize/modern-normalize.css';

:root {
  --white: #ffffff;
  --dark: #101828;
  --blue: #3470ff;
  --blue-dark: #0b44cd;
  --gray: #8d929a;
  --light-gray: #f2f4f7;
  --background: var(--white);
  --text-color: var(--dark);
  --font-family: var(--font-manrope), sans-serif;
  --second-family: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

/* ======= */

.errorWrapper {
  padding: 40px;
  text-align: center;
}

.errorBtn {
  margin-top: 20px;
  padding: 10px 16px;
}

/* ========= */

.notFoundWrapper {
  padding: 40px;
  text-align: center;
}

.notFoundLink {
  margin-top: 20px;
  display: inline-block;
}
